<h2> Predicting the Compressive Strength of Different Samples of Concrete with Keras Library</h2>

<b> By Michael Kumakech</b>

<B> INTRODUCTION</b>

In this project, the researcher will build a regression model using the Keras library to model the data about concrete compressive strength found in the following URL: https://cocl.us/concrete_data.

<b> Import necessary libaries</b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('concrete_data.csv')

In [5]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
# display the last five records
df.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [7]:
df.shape

(1030, 9)

In [8]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
df.corr()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
Cement,1.000000,-0.275216,-0.397467,-0.081587,0.092386,-0.109349,-0.222718,0.081946,0.497832
Blast Furnace Slag,-0.275216,1.000000,-0.323580,0.107252,0.043270,-0.283999,-0.281603,-0.044246,0.134829
Fly Ash,-0.397467,-0.323580,1.000000,-0.256984,0.377503,-0.009961,0.079108,-0.154371,-0.105755
Water,-0.081587,0.107252,-0.256984,1.000000,-0.657533,-0.182294,-0.450661,0.277618,-0.289633
Superplasticizer,0.092386,0.043270,0.377503,-0.657533,1.000000,-0.265999,0.222691,-0.192700,0.366079
Coarse Aggregate,-0.109349,-0.283999,-0.009961,-0.182294,-0.265999,1.000000,-0.178481,-0.003016,-0.164935
Fine Aggregate,-0.222718,-0.281603,0.079108,-0.450661,0.222691,-0.178481,1.000000,-0.156095,-0.167241
Age,0.081946,-0.044246,-0.154371,0.277618,-0.192700,-0.003016,-0.156095,1.000000,0.328873
Strength,0.497832,0.134829,-0.105755,-0.289633,0.366079,-0.164935,-0.167241,0.328873,1.000000

In [10]:
df.isnull().sum()# check if the data is clean

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is clean with no missing values

<b>  Separating predictors and target</b>

In [11]:
df_columns = df.columns

predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [12]:
predictors.head()# check the first five records of predictor

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
target.head()# check the first five records of target feature

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

<b> Normalization of the Data </b>

In [14]:
predictors_norm = (predictors - predictors.mean()) / predictors.std() # substract  the mean and divide by standard deviation
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [15]:
n_cols = predictors_norm.shape[1] # number of predictors to be saved in n columns

<b>  Import the Keras library </b>

In [16]:
import keras

In [17]:
from keras.models import Sequential
from keras.layers import Dense

<b> Build a Neural Network</b>

In [18]:

def regression_model(): # define regression model
    # create model with three hidden layers, each of 10 hidden units.
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

ReLU (or Rectified Linear Unit) is the most widely used activation function. It gives an output of X if X is positive and zeros otherwise. ReLU is often used for hidden layers.

Adaptive Moment Estimation or Adam optimization is an extension to the stochastic gradient descent. This algorithm is useful when working with complex problems involving vast amounts of data or parameters. It needs less memory and is efficient.

<b>Take 30% of the data set for Testing the accuracy of the model and 70% for training the model</b>

In [19]:
from sklearn.model_selection import train_test_split # import the packages for training, testing and spliting from sklearn
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42) # 30% data set for testing

<b>  Train and Test the Network</b>

In [20]:
# build the model
model = regression_model()

In [21]:
# fit the model
epochs = 50 # increase the number of epochs to 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 6s 7ms/step - loss: 1587.7789
Epoch 2/50
23/23 [==============================] - 0s 3ms/step - loss: 1555.2134
Epoch 3/50
23/23 [==============================] - 0s 3ms/step - loss: 1515.0940
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 1453.1293
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 1355.0497
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 1210.9667
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 1019.6688
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 793.8068
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 563.2496
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 395.4407
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 311.1960
Epoch 12/50
23/23 [==============================] - 0s 3ms/step - loss: 281.6065
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 264.0288
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 251.3296
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 241.2941
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 231.7298
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 224.0611
Epoch 18/50
23/23 [==============================] - 0s 3ms/step - loss: 217.8121
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 212.1066
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 207.7007
Epoch 21/50
23/23 [==============================] - 0s 3ms/step - loss: 201.4274
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 196.7158
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 192.1802
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 187.9983
Epoch 25/50
23/23 [==============================] - 0s 3ms/step - loss: 184.3932
Epoch 26/50
23/23 [==============================] - 0s 4ms/step - loss: 180.9206
Epoch 27/50
23/23 [==============================] - 0s 4ms/step - loss: 177.8959
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 174.1687
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 171.1614
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 167.9911
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 165.2853
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 162.7184
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 161.2353
Epoch 34/50
23/23 [==============================] - 0s 3ms/step - loss: 158.1911
Epoch 35/50
23/23 [==============================] - 0s 3ms/step - loss: 155.7584
Epoch 36/50
23/23 [==============================] - 0s 3ms/step - loss: 153.7175
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 151.7921
Epoch 38/50
23/23 [==============================] - 0s 3ms/step - loss: 150.4217
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 148.6031
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 147.1477
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 146.0529
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 144.4161
Epoch 43/50
23/23 [==============================] - 0s 3ms/step - loss: 143.4848
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 141.8155
Epoch 45/50
23/23 [==============================] - 0s 3ms/step - loss: 140.9242
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 139.5594
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 138.6465
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 137.3501
Epoch 49/50
23/23 [==============================] - 0s 3ms/step - loss: 136.3285
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 135.4928

In [ ]:
# Plot a graph of loss (mse) Vs epoch

<b>  Evaluating the Model</b>

In [88]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 128.0797

128.07969665527344

In [89]:
from sklearn.metrics import mean_squared_error

In [90]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

128.07970969541327 0.0

In [91]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 94.67333984375
MSE 2: 77.0501937866211
MSE 3: 46.002994537353516
MSE 4: 44.74180603027344
MSE 5: 38.80390548706055
MSE 6: 36.63303756713867
MSE 7: 40.14271545410156
MSE 8: 30.337514877319336
MSE 9: 28.817440032958984
MSE 10: 29.725364685058594
MSE 11: 27.196462631225586
MSE 12: 24.603185653686523
MSE 13: 27.394941329956055
MSE 14: 31.202600479125977
MSE 15: 28.706058502197266
MSE 16: 19.62185287475586
MSE 17: 21.440587997436523
MSE 18: 24.991241455078125
MSE 19: 23.665212631225586
MSE 20: 26.299041748046875
MSE 21: 23.244300842285156
MSE 22: 23.988000869750977
MSE 23: 20.620803833007812
MSE 24: 24.279056549072266
MSE 25: 25.45625114440918
MSE 26: 26.534366607666016
MSE 27: 21.696060180664062
MSE 28: 21.053424835205078
MSE 29: 25.925193786621094
MSE 30: 21.09453773498535
MSE 31: 20.795337677001953
MSE 32: 19.246109008789062
MSE 33: 19.42731285095215
MSE 34: 21.497312545776367
MSE 35: 22.297771453857422
MSE 36: 24.18276596069336
MSE 37: 18.047561645507812
MSE 38: 21.213003158569336
MSE 39: 22.610347747802734
MSE 40: 17.54401397705078
MSE 41: 21.1541748046875
MSE 42: 19.11223793029785
MSE 43: 21.940122604370117
MSE 44: 22.185810089111328
MSE 45: 25.316862106323242
MSE 46: 19.14055633544922
MSE 47: 20.64453125
MSE 48: 19.215726852416992
MSE 49: 22.33308982849121
MSE 50: 21.5270938873291


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 27.507463948452184
Standard Deviation: 13.62090257428833

In [92]:
from sklearn.metrics import r2_score

In [93]:
print("R2-score: %.2f" % r2_score(y_pred , y_test) )

R2-score: 0.91

<h2> Conclusion</h2>

The average squared difference between the estimated values and the actual value. MSE is a risk function, corresponding to the expected value of the squared error loss. Thus, the risk function keep varying with different values in the datacset.

How to actually avoid overfitting through the experiments conducted we can safely say that there is no optimal number of epochs. Actually, the number of epochs
differ from one dataset to other the main factor which comes into the picture is the training and validation error.

When 10 nodes with 3 hidden layers, one output layer with 50 epochs were used, the ANN regression model has R-square value of 0.91 which is 91% accurate with square mean error of 27.51 and standard deviation of 13.62.